apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: longhorn
spec:
  ingressClassName: nginx
  tls:
    - hosts:
      - longhorn.dariomazza.net 
      secretName: longhorn-tls
  rules:
  - host: longhorn.dariomazza.net
    http:
      paths:
      - backend:
          service:
            name: longhorn-frontend
            port:
              number: 80
        path: /
        pathType: Prefix
status:
  loadBalancer: {}
