apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
configMapGenerator:
  - name: monitoring-values
    files:
      - values.yaml
generatorOptions:
  disableNameSuffixHash: true
resources:
  - grafana-secret.sops.yaml
