grafana:
  admin:
    existingSecret: "grafana-secret"
    userKey: "admin-user"
    passwordKey: "admin-password"

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - grafana.dariomazza.net
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.dariomazza.net

  persistence:
    enabled: true
    storageClassName: "local-path"
    size: 2Gi



prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "local-path"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
