apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-secret
  namespace: monitoring
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: azure-kv
    kind: ClusterSecretStore
  target:
    name: grafana-secret
    creationPolicy: Owner
  data:
  - secretKey: admin-user
    remoteRef:
      key: grafana-admin
      property: admin-user
  - secretKey: admin-password
    remoteRef:
      key: grafana-admin
      property: admin-password
