apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homepage
resources:
  - ../../base/homepage
  - namespace.yaml
  - ingress.yaml

patches:
  - path: config-map-patch.yaml
  - path: deployment-patch.yaml

