apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
  labels:
    app: cloudflared
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1  
      maxSurge: 1        
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:2026.2.0 
        imagePullPolicy: IfNotPresent
        
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflared-token-secret
              key: TUNNEL_TOKEN
        
        command: ["cloudflared", "tunnel"]
        args:
        - "--metrics"        
        - "0.0.0.0:2000"
        - "run"              
        - "--token"          
        - "$(TUNNEL_TOKEN)"
        - "--protocol"
        - "http2"

        livenessProbe:     
          httpGet:
            path: /ready
            port: 2000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:  
          httpGet:
            path: /ready
            port: 2000
          initialDelaySeconds: 10
          periodSeconds: 10