apiVersion: v1
kind: Service
metadata:
  name: cloudflared
  namespace: cloudflared
  labels:
    app: cloudflared
spec:
  type: ClusterIP
  selector:
    app: cloudflared
  ports:
    - name: http-metrics
      port: 2000
      targetPort: 2000
      protocol: TCP
